

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');



body{
    width:98.9%;
    height:auto;
    padding: 0;
    margin: 0;
    font-family: "Red Hat Display", serif;
}
header{
width: 100%;
height: 80px;
background-color: #34353A;
color:ivory;
padding: 10px;
position: fixed;
}
li{
    display: inline;
  padding: 20px;
/* margin: 20px; */
  font-size: 25px;


}
ul{
    text-align: center;
    
    text-transform: capitalize;
    position: absolute;
 top: 1.80px;
    left: 700px;
}
a{
    color: gray;
    text-transform: capitalize;
    text-decoration: none;
}
a:hover{
    color: ivory;
}
#logo{
    margin-left: 100px;
  width: 50px;
  height: auto;
}
/* nav{
    margin-top: 20px;
} */
 main{
    height: 860px;
    width: 101%;
    background-color: #34353A;
 }
 .homepage{
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;

width: 90%;
height: 700px;
position: absolute;
left: 100px;
top: 170px;
 }
.text {
    min-width: 700px;
    height: 600px;
text-align:left;
    /* border: 2px solid black; */
}
.image{
    min-width: 700px;
    height: 600px;
text-align: center;

    /* border: 2px solid black; */
}
h1{
    margin-top: 200px;
    font-size: 50px;
    color: ivory;
}
span{
    font-size: 80px;
    color: goldenrod;
}

button{
    padding:10px;
    font-size: 20px;
    border: 2px solid goldenrod;
    color: goldenrod;
   
 width: 210px;
 border-radius: 10px;
 background-color: transparent;
 /* box-shadow: 5px 5px goldenrod; */

}
button:hover{
    background-color: goldenrod;
    color: ivory;
}
#pic{
    min-width: 100%;
    height: 100%;
    border-radius: 5%;
    margin-top: 60px;
}
.links{
    display: flex;
    flex-direction: row;
  /* justify-content: space-evenly; */
}
img{
    width: 30px;
    height: 30px;
    padding: 20px;
}
.about{
    height: 500px;
    min-width: 101%;
background-color:#34353A ;
/* margin-top: -20px; */
text-align: left;
display: flex;
flex-direction: column;
justify-content: center;
}
.diver{
margin-left: 60px;
}
.summary{
    margin-left: 200px;
    height: auto;
    width: 70%;
    margin-top: 70px;
}
h2{
font-size: 50px;
color: ivory;

}
p{
    font-size: 22px;
    color: ivory;
}
.skills{
    height: 1000px;
    min-width: 101%;
background-color:#34353A ;
/* margin-top: -20px; */
text-align: left;
display: flex;
flex-direction: column;
justify-content: center;
/* border:  2px solid #fff; */
}
.heading{
    display: flex;
    flex-direction: row;
    justify-content:center;
    /* border:  2px solid #fff; */
    /* margin-top: -700px; */
}
h3{
    color: ivory;
    font-size: 50px;
}
.box{
    height: auto;
    width:100%;
    /* border:  2px solid #fff; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.logos{
    /* border:  2px solid #fff; */
    width: 260px;
    height:300px;
text-align: center;
border-radius : 20px ;
background-color: #3D3E42;
}
.boxes{
    height: auto;
    width:80%;
    /* border:  2px solid #fff; */
 margin-left: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.logos >img{
height: 80px;
width:80px;
}
.logos > h5{
    font-size: 30px;
    color:ivory;
}
.logos:hover{
    background-color: goldenrod;
    color: ivory;
}
.proj{
    margin-top: 0px;
    padding-bottom: 100px;
    text-align: center;
    height: 900px;
    width: 101%;
    border: 1px solid #34353A;
}
.pops{
    width: 300px;
    height:400px;
text-align: center;
border-radius : 20px ;
background-color: #3D3E42;
/* padding: 30px; */
margin: 20px;
}
/* .pics{
    width: 500px;
    height:800px;
text-align: center;
border-radius : 20px ;
background-color: #3D3E42;
display: flex;
justify-content: space-evenly;
flex-direction:row;
} */
.props{
    width: 300px;
    height:300px;
text-align: center;
border-radius : 20px ;
background-color: #3D3E42;
}
.experience{
    height: 1100px;
    min-width: 101%;
    background-color: #3D3E42;

/* text-align: center; */
display: flex;
flex-direction:column;
justify-content: center;
padding-bottom: 200px;
/* border: 2px solid white; */
}
.experience > h1{
    font-size: 50px;
    color:ivory;
/* margin-top: -350px; */
margin-left: 200px;
height: auto;
width: 70%;
margin-top: -30px;
}
/* .exp{
    display: flex;
    flex-direction:column;
    /* justify-content: space-between; */
    /* border: 2px solid white; */
    /* text-align: start; */
 /* width: 60%;
 margin-left: 300px;
 padding: 20px;
 margin-top: 500px;
} */ 


.intern1{
margin-top: 10px;
border-left: 2px solid goldenrod;
height: 400px;
width: 60%;
padding: 30px;
margin-left: 300px;
}
.intern2{
 margin-top: 10px;
border-left: 2px solid goldenrod;
height: 400px;
width: 60%;
margin-left: 300px;
padding: 30px;
    }
.intern1 > h1{
margin-top: -5px;

}
.intern2 > h1{
    margin-top: -5px;
    
    }
    h4{
        color: ivory;
        font-size: 30px;
    }
    .dots{
        background-color: goldenrod;
        width: 30px;
        height: 30px;
border-radius: 50%;
margin-left: 293px;
margin-top: 8px;
    }
    .dot{
        background-color: goldenrod;
        width: 30px;
        height: 30px;
border-radius: 50%;
margin-left: 293px;
margin-top: 8px;
    }
    .years{
        width: 100px;
        height: 35px;
        background-color: #66676e;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        margin-left: 213px;
        margin-top: 8px;
        color: ivory;
        font-size: 20px;
        /* padding: 10px; */
/* margin-top: 20px; */
    }
    .year{
        width: 100px;
        height: 35px;
        background-color: #66676e;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        margin-left: 213px;
        margin-top: 10px;
        color: ivory;
        font-size: 20px;
/* margin-top: 20px; */
    }

.contact{
    width: 101%;
    height: 600px;
    background-color: #34353A;
}
fieldset{
    /* width: 97%;

    background-color: #3D3E42; */
    position: relative;
    width: 98.70%;
    border: 2px solid goldenrod;
    padding: 10px;
    height: 400px;
}
legend{
    font-size: 50px;
    text-align: center;
    color: ivory;
}
.bottom-legend {
    position: absolute;
    bottom: -110px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 1em;
    font-weight: normal;
  }

  .contact form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 600px;
}

.contact input {
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border: 1px solid goldenrod;
    border-radius: 5px;
    width: 600px;
    background-color: #66676e;
    color: ivory;
}
input::placeholder,textarea::placeholder{
    color: ivory;
}

 .contact button {
    background-color: transparent;
    color:goldenrod;
    padding: 10px;
    border: 2px solid goldenrod;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
    margin-left: 200px;
}

.contact button:hover {
    background-color: goldenrod;
    color: ivory;
}
.contact textarea {
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border: 1px solid goldenrod;
    border-radius: 5px;
    width: 600px;
    height: 110px;
    background-color: #66676e;
    color: ivory;
}
footer{
background-color: #3D3E42;
color: goldenrod;
width: 101%;
height: 100px;
text-align: center;
margin-top: -200px;
/* border: 1px solid goldenrod; */
}
footer > h1{
    color: goldenrod;
    /* margin-top: 100px; */
}







  
  



